.train{
    margin: 200px;
}

.appoint{
    color: blue;
    font-size: 30px;
    text-decoration: underline;
    font-family: sans-serif;
}

#hint{
    color: grey;
}

#nameinp{
    border: 2px solid rgb(178, 178, 178);
    border-radius: 5px;
    padding: 15px;
}

#birth{
    border: 2px solid rgb(178, 178, 178);
    border-radius: 5px;
    padding: 15px;
}

#select{
    border: 2px solid rgb(178, 178, 178);
    border-radius: 5px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0);
}

#sympt{
    border: 2px solid rgb(178, 178, 178);
    border-radius: 5px;
    padding: 15px;
}

.submit{
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}

span{
    border: 2px solid black;
}